*{
  margin: 0;
  padding :0;
  box-sizing: border-box;
}
/*shared styles*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding:18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor:pointer;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;  
  line-height: 30px;
  color:#757575;
}
.logo h2{
  font-size: 45px;
}
.colour-orange{
  color: #FD6E0A;
}
.text-center{
  text-align: center;
}
/*Main*/
header{
  background-color: #FFF8F3;
  padding-top: 50px;
  background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
  background-repeat: no-repeat;
  background-position: 23px 28px, bottom right;
}
nav{
  width:71%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type:none;
  gap:51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  text-decoration: none;
}
#banner{
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
#banner .banner-content{
  max-width: 585px;
}
#banner .banner-content h2{
  font: 45px;
  font-weight:600;
  margin-bottom:5px ;
  color: #474747;
}
#banner .banner-content h1{
  font: 85px;
  font-weight:700;
  margin-bottom:20px ;
  color: #474747;
}
#banner .banner-content p{
  font: 18px;
  font-weight:bold;
  margin-bottom:30px ;
  line-height: 30px;
  color: #757575;
}
#banner .banner-image{
  max-width: 585px;
  vertical-align: middle;
}
#about, #skills, #resume{
  padding-top: 130px;
}
#about .about-container{
  max-width: 1140px;
  width: 71%;
  margin:0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 130px 156px;
}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p{
  font-size: 20px;
  font-weight:normal;
  color: #757575;
}

#skills .skill-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
#skills .skill-container .skill-box{
  display: flex;
  gap: 24px;
}
.skill-box .skill-card{
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.329);
  padding:30px;
  max-width: 267px;
}
.skill-card img{
  min-width: 44px;
  margin-bottom: 30px;
}
.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p{
  font: 16px;
  font-weight:bold;
  margin-bottom:20px ;
  line-height: 28px;
  color: #757575;
}
.resume-container{
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0; /*top left-right bottom*/
  display: flex;
  gap:24px;
} 
.resume-container h2{
  font-size: 30px;
}
.resume-container hr{
  margin: 30px 0;
}
.resume-container .section-title{
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
}
.resume-card{
  min-width: 511px;
  margin-right: 47px;
  margin-top: 30px;
}
.resume-card .card-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.resume-card .card-text{
  font-size: 16px;
  line-height: 28px;
}
.text-center button{
  margin-top: 50px;
}
footer{
  margin-top: 130px;
  background-color: #FFF8F3;
  padding:130px;
}
footer .footer-container{
  width:71%;
  max-width: 1140px;
  margin:0 auto;
  display: flex;
  gap:116px;
  justify-content: space-between;
}
footer .footer-container .social{
  max-width: 562px;
}
footer .footer-container .social p{
  color: #474747;
  line-height: 28px;
  margin-bottom: 20px;
}

.footer-container h2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}
.footer-container .icons a{
  margin-right: 24px;
}
.footer-container form input[type="text"],
.footer-container form textarea{
  width: 461px;
  padding:18px 31px;
  margin-bottom: 24px;
  border:none;
  border-radius: 5px;
  color: #757575;
}